@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Meow+Script&family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Baloo Bhaijaan 2', cursive;

}
body{
  width: 100%;
  height: 100vh;
}

.nav {
  background: white;
}
.nav ul{
  display: flex;
  width: 100%;
  height: 20vh;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
}
.nav li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color:black;
  min-width: 80px;
  margin: auto;
}
.nav li a {
  text-decoration: none;
  color: black;
}
.nav li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}

.nav li.stay {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
  opacity: 0.8;
}
.reg a {
text-decoration: none;
}
.nav li.stay a {
  text-decoration: none;
  color: black;
}
.nav li.stay:hover {
  opacity: 1;
}
.nav li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}


.footer{
	background-color:#a2a4a7;
    color: white;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: Serif;
}

.h32{

}
.h33{
    margin-top: 3%;	
}

.copyright{
    display: flex;
    justify-content: space-around;	
    padding-bottom: 1%;
}

.ul1{
    color: white;
}
.iconh31{
    margin-left: 5%;
    color: white;
}



@media (max-width:800px ) {
.nav ul{
  display: flex;
  width: 100%;
  height: 20vh;
  margin: auto;
  max-width: 500px;
  justify-content: space-between;
  text-align: center;
  font-size: 10px
}
.nav li {
  padding: 0.2rem 0.5rem 0.2rem;
  text-transform: uppercase;
  cursor: pointer;
  color:black;
  min-width: 50px;
  margin: auto;
}

}
.about h1{
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
    }
.about p{
    width: 50%;
    margin-left: 27%;
}