body { 
    font-family: Calibri, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
} 


form { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10%;

} 
.katrori{
    padding: 5px 10px;
    background: rgba(91, 137, 155, 0.5);
    color: white;

}
.h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.login {  
        background-color: rgb(68, 150, 177);   
        width: 20%;  
        color: white;
        padding: 10px;   
        margin: 10px 0px;   
        border: none;
        margin-top: 1%;
        }
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}    
   input {   
          width: 100%;   
          margin: 8px 0;  
          padding: 10px 10px;   
          display: inline-block;   
          border: 2px solid lightblue;   
          box-sizing: border-box;   
      }
    .opsionregjister{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Email{

        flex-direction: row;
    display: inline-block; 
    margin-left: 23%;
    text-align: center;
    width: 50%;
    }
    .Password{
        flex-direction: row;
    display: inline-block; 
    margin-left: 23%;
    text-align: center;
    width: 50%;

    }
    .butoni{
        
        color: turquoise;
        width: 20%;
    }