



/*-- /plans--*/

.priceing-table-main {
    display: flex;
    width: 150%;

}
.price-gd-top {
    background:#2529d8;
    text-align: center;
}
.price-gd-top h4 {
    font-size: 1.8em;
    color: #fff;
    padding: 0.4em 1em;
          background: #111490;
      font-weight: 300;
}
.price-gd-top h3 {
    padding:0.2em 0em 0.1em 0em;
    font-size:2.5em;
    color: #fff;
}
.price-gd-top h5 {
    font-size: 1em;
    color: #fff;
    padding: 0.2em 0em 0.8em 0em;
}
.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1em 0em;
}

.price-list ul li {
    padding: 0.7em 0em;
       font-size: 1em;
    color: #555;
    border-bottom: 1px solid rgba(210, 208, 208, 0.42);
}
.price-list ul li:nth-child(2),.price-list ul li:nth-child(4){
  background:#eee;
}


.price-selet a {
  font-size: 0.9em;
    color: #ffffff;
    display: inline-block;
    padding: 0.5em 2em;
    background: #2529d8;
    text-decoration: none;
}
.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.price-block:hover,.pklayouts-pricing:hover,.pk-agileits-vpn-grid:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}
