.footer{
	background-color:#0082e6;
    color: white;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: Serif;
}

.h32{

}
.h33{
    margin-top: 3%;	
}

.copyright{
    display: flex;
    justify-content: space-around;	
    padding-bottom: 1%;
}

.ul1{
    color: white;
}
.iconh31{
    margin-left: 5%;
    color: white;
}

