@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1aadc0;
  font-family: "Montserrat", sans-serif;
}

.navMenu { 
text-align: center;
margin-top: 0.1%;
justify-content: space-between 100px;

}

.a1 {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 5;
  justify-content: space-between 10%;
}


.h11{
  display: flex;
  justify-content: center;
  color: white;
}
