@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1aadc0;
  font-family: "Montserrat", sans-serif;
}

.navMenu { 
text-align: center;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  justify-content: space-between 1000%;
}

.mesazhi{
    display: flex;
    margin-top: 20%;
    margin-left: 30%;
}