

body { 
    font-family: Calibri, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
} 


form { 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5%;
    color: white;

} 
.katrori{
    padding: 2%;   
    background: rgba(44, 43, 43, 0.5);
}
.h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.login {  
    background-color: rgb(68, 150, 177); 
        width: 20%;  
        color: white;   
        padding: 10px;   
        margin: 10px 0px;   
        border: none;
        margin-top: 1%;
        }
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}    
   .input {   
          width: 100%;   
          margin: 8px 0;  
          padding: 10px 10px;   
          display: inline-block;   
          border: 2px solid lightblue;   
          box-sizing: border-box;   
      }



.Username{
    flex-direction: row;
    display: inline-block; 
    margin-left: 23%;
    text-align: center;
    width: 50%;
   
}
